.container {
  margin: 0 auto;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #4C4CFF;
}

.margin_top {
  margin-top: 180px;
}