section {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 600px;
  box-sizing: border-box;
}

.ingredients {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  padding: 0;
}

.flexible_elements {
  max-height: 35vh;
  overflow-y: auto;
  overflow-x: hidden;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%
}

.flex_center_element {
  display: flex;
  align-items: center;
}

.inner_elements_bun {
  width: 100%;
  list-style: none;
}

.inner_elements {
  composes: flex_center_element;
  justify-content: end;
  width: 100%;
  list-style: none;
  cursor: grab;
}

.payment {
  composes: flex_center_element;
}

.sum {
  composes: flex_center_element;
}

.button {
  width: 215px;
  height: 64px;
}

.onHover {
  border: 1px solid #ccf;
  border-radius: 55px;
  opacity: .4;
}

.fillings_substutute {
  margin-right: 16px;
  width: 536px;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #2f2f37;
  align-self: end;
}