.app {
  display: flex;
  flex-direction: column;
  background-color: #131316;
  color: #f2f2f3;
  max-width: 1920px;
  margin: auto;
  padding-top: 40px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;
}