.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: #131316;
  color: #f2f2f3;
  max-width: 1240px;
  margin: 40px auto 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}